@use '../../../styles/vars';
@import './../../../styles/mixins.scss';

.stack-section {
  width: 40%;
  border: 1px solid rgba($color: vars.$secondary, $alpha: .5);
  position: relative;
  cursor: initial;

  @include s-screen {
    width: 100%;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 10px solid vars.$secondary;
    transition: all .3s ease;
  }

  &:hover {
    border: 1px solid vars.$secondary;

    &::before {
      transform: translate(20px, 20px);
    }
  }
  
  &__wrapper {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    padding: 3rem;
    position: relative;
    z-index: 1;
    background: vars.$primary;
    color: vars.$writing;

    &:hover {
      color: vars.$secondary;
    }

    @include s-screen {
      padding: 1rem;
    }
  }

  &__icons {
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: 1rem;
    position: relative;
    height: 80px;
    
    &__item {
      position: absolute;
      display: inline-block;
      vertical-align: middle;
      top: 50%;
      transform: translate(0, -50%);
      transition: left 2000ms linear;
    }

    & .hidden {
      opacity: 0;
    }
  }

  &__title {
    transition: all .3s ease;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 2rem;
    color: inherit;
  }
}