@use '../../styles/vars';

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: vars.$primary;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 3rem;

    &__part2 {
      color: vars.$secondary;
      font-size: 6rem;
      font-family: 'Playfair Display', serif;
    }
  }
}