@use '../../styles/vars';

.projects {
  background: vars.$alternative-bg;
  color: vars.$primary;
  padding-bottom: 4rem;

  &__title {
    color: vars.$secondary;
  }

  &__container {
    overflow-x: hidden;

    &__slider {
      display: flex;
      transition: transform 1s ease;
    }
  }

  &__buttons {
    margin-top: 1rem;
    display: flex;
    gap: .5rem;

    & button {
      width: 2rem;
      height: .66rem;
      border: 2px solid vars.$primary;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
      }
    }

    .selected {
      background: vars.$secondary	;
    }
  }
}