@use '../../styles/vars';

.projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: vars.$alternative-bg;
  color: vars.$primary;
  padding-bottom: 4rem;

  &__title {
    color: vars.$secondary;
  }

  &__container {
    overflow-x: hidden;

    &__slider {
      display: flex;
      transition: transform 1s ease;
      padding-bottom: 1rem;
    }
  }

  &__buttons {
    margin-top: 1rem;
    display: flex;
    gap: .5rem;

    & button {
      width: 1.5rem;
      height: .5rem;
      border: none;
      border-radius: 5px;
      background: vars.$secondary;
      opacity: .3;

      &:hover {
        cursor: pointer;
      }

      &:last-child {
        display: none;
      }
    }

    .selected {
      // background: vars.$secondary;
      opacity: 1;
    }
  }
}