@use '../../styles/vars';

.projects {
  background: vars.$alternative-bg;
  color: vars.$primary;
  padding-bottom: 4rem;

  &__title {
    color: vars.$secondary;
  }

  &__container {
    overflow-x: hidden;

    &__slider {
      display: flex;
      gap: 2rem;
      transition: transform .5s ease;
    }
  }
}