$primary: #0D254D; // Oxford Blue
$secondary: #ED7D3A; // Princeton Orange
$light: #F3FFB6; // Lemon Yellow Crayoia
$grey: #8491A3; // Light Slate Gray
$brown: #8E6C88; // Chinese Violet
$writing: #fff; //white