@use './vars';

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nunito&family=Playfair+Display&display=swap');
:root, html {
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
}

* {
  box-sizing: border-box;
  color: vars.$writing;
}

// center content
.header, .hero, .about, .stack, .projects, .social, .contact-form {
  padding: 0 calc(50vw - 570px);
}

h2 {
  font-size: 1.8rem;
  padding: 2rem 0 4rem;
  font-family: 'Playfair Display', serif;
}