@use './vars';

:root, html {
  font-size: 18px;
}

* {
  box-sizing: border-box;
  color: vars.$writing;
}

// center content
.header, .hero, .about, .stack, .projects, .social {
  padding: 0 calc(50vw - 570px);
}

h2 {
  font-size: 1.5rem;
  padding: 2rem 0 4rem;
}