@use '../../styles/vars';

.social {
  background: darken($color: vars.$primary, $amount: 15);
  overflow: hidden;
  
  &__title {
    color: vars.$secondary;
  }

  &__contacts, &__websites {
    display: flex;
    padding-bottom: 2rem;
  }

  &__contacts {
    justify-content: space-evenly;
  }

  &__websites {
    justify-content: space-between;
  }
}