@use '../../styles/vars';
@import '../../styles/mixins.scss';

.social {
  background: vars.$very-dark-bg;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 25%;
  
  &__title {
    color: vars.$secondary;
    width: 100%;
  }

  &__contacts, &__websites {
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    cursor: none;
  }

  &__contacts {
    &__item {
      display: flex;
      align-items: center;
      gap: .5rem;
      transition: all .3s ease;
      fill: vars.$writing;
      cursor: none;

      &:hover {
        fill: vars.$secondary;
        color: vars.$secondary;
      }

      &:nth-child(1) {
        cursor: text;
      }
      &:nth-child(2) {
        cursor: pointer;
      }
    }
  }

  &__websites {

    &__items {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: none;

      & a {
        transition: all .3s ease;
        fill: vars.$writing;
        height: 30px;
        display: flex;
        align-items: center;

        &:hover{
          fill: vars.$secondary;
          transform: translateY(-10px) scale(1.5);
        }
      }
    }

    & .header-nav-ul__list__contact {
      align-self: flex-start;
    }
  }
}
