@use '../../styles/vars';

.project-page {
  min-height: 100vh;
  background: vars.$primary;

  &__header {
    padding: 10rem calc(50vw - 570px) 7rem;

    &__title {
      color: vars.$secondary;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem 0;
    padding: 3rem calc(50vw - 570px);
    background: vars.$alternative-bg;
  }
}