@use '../../../styles/vars';
@import '../../../styles/mixins.scss';

$project-height: 450px;
$img-height: 330px;
$main-height: 300px;

.single-project {
  flex: 0 0 48%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  position: relative;
  height: $project-height;

  @include m-screen {
    min-width: 570px;
  }

  @include s-screen {
    min-width: auto;
    flex: 0 0 100%;
    height: auto;
  }

  &:hover {
    .single-project__header {
      @include l-screen {
        transform: scale(1.2);
      }
    }

    .single-project__main {
      bottom: 0;
    }
  }
  
  &__header {
    transition: all .3s ease;
    
    &__img {
      width: 100%;
      height: $img-height;

      @include s-screen {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include s-screen {
          width: auto;
          height: auto;
          object-fit: contain;
        }
      }
    }
  }
  
  &__main {
    position: absolute;
    height: $main-height;
    left: 0;
    bottom: -180px; // $main-height - ($project-height - $project-height)
    background: vars.$primary;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .3s ease;
    padding: 1rem 1rem;
    overflow: hidden;

    @include s-screen {
      position: initial;
    }

    &__stack {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      color: vars.$secondary;
      font-family: 'Playfair Display', serif;
      
      & span {
        color: inherit;
      }
    }

    &__title {
      width: 100%;
      margin-top: 2rem;
      
      & strong {
        color: vars.$secondary;
        font-size: 1.5rem;
        font-family: 'Playfair Display', serif;
      }
  
      & span {
        color: inherit;
      }
    }
  }

  &__footer {
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid vars.$writing;

    & svg {
      width: 1.5rem;
      transition: all .5s ease;
      fill: vars.$writing;
      
      &:hover {
        transform: scale(1.8) rotate(360deg);
        fill: vars.$secondary;
      }
      
      & path {
        fill: inherit;
      }
    }
  }
}