@use '../../../styles/vars';

.single-project{
  flex: 0 0 30%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  background: vars.$primary;

  &__header {
    position: relative;

    &__img {
      & img {
        max-width: 100%;
        object-fit:cover;
      }
    }

    &__stack {
      display: flex;
      justify-content: space-around;
      position: absolute;
      padding: 2px 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(180deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,1) 100%);
    }
  }

  &__container {
    padding: 0 1rem;
    
    &__title {
      margin-bottom: .5rem;
      color: vars.$grey;

      & strong {
        color: vars.$secondary;
      }

      & span {
        color: inherit;
      }
    }
  }

  &__footer {
    padding: 0 1rem 1rem;
    display: flex;
    justify-content: space-evenly;

    & svg {
      width: 1.5rem;
      transition: all .4s ease;
      fill: vars.$writing;
      
      &:hover {
        transform: scale(1.2);
        fill: vars.$secondary;
      }
      
      & path {
        fill: inherit;
      }
    }
  }
}