@use '../../styles/vars';
@import '../../styles/mixins.scss';

.about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: vars.$alternative-bg;
  padding-bottom: 5rem;
  overflow: hidden;
  position: relative;

  &__title {
    color: vars.$secondary;
  }
  
  &__container {
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & p {
      width: 60%;
      color: rgba(255,255,255,.7);

      @include s-screen {
        width: 85%;
      }

      & em {
        font-weight: bold;
        font-size: 1.05rem;
      }
    }

    &__testament, &__conviction {
      align-self: flex-start;
    }

    &__certification, &__goal {
      align-self: flex-end;
    }

    &__certification {
      a {
        color: vars.$secondary;
        transition: all .3s ease;
        border-bottom: 1px solid transparent;
        font-size: 1.15rem;

        &:hover {
          border-bottom: 1px solid vars.$secondary;
        }
      }
    }
  }

  &__clouds {
    position: absolute;
    top: 150px;
    height: 0;

    @include s-screen {
      display: none;
    }

    &__item {
      width: 200px;
      height: 60px;
      background: #fff;
      border-radius: 200px;
      position: relative; 

      &::before, &::after {
        content: '';
        position: absolute; 
        background: #fff;
        position: absolute;
        border-radius: 100px;
        transform: rotate(30deg);
      }
      
      &::before {
        width: 100px;
        height: 80px;
        left: 10px;
        top: -15px;
      }
      
      &::after {
        width: 120px;
        height: 120px;
        top: -55px;
        right: 15px;
      }
    }
    
    .cloud {
      &x1 {
        animation: 45s linear moveclouds infinite;
      }
      
      &x2 {
        left: 150px;
        animation: 30s linear moveclouds infinite;
        transform: scale(0.6);
        opacity: 0.6;
      }
      
      &x3 {
        left: -150px;
        top: -200px;
        transform: scale(0.8);
        opacity: 0.8;
        animation: 30s linear moveclouds infinite;
      }
      
      &x4 {
        left: 200px;
        top: -250px;
        transform: scale(0.75);
        opacity: 0.75;
        animation: 27s linear moveclouds infinite;
      }
      
      &x5 {
        left: -200px;
        top: -150px;
        transform: scale(0.8);
        opacity: 0.8; 
        animation: 21s linear moveclouds infinite;
      }
    }
  }
}

@keyframes moveclouds {
  0% {margin-left: -100vw;}
  100% {margin-left: calc(100vw + 200px);}
}